.userloginForm{
    background-color:#f1f8fd;
    padding:15px;
    border-radius:10px;
}
.submit-btn{
    background-color: #fd8236;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border:0px;
    cursor: pointer;
    outline: none;
}

/** 
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
} **/


div.textboxStyle {
    margin:5px 0;
    position:relative;
    display:inline-block;
    width:100%;
  }
  span {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    font-size:14px;
  }
  input {
     padding:2px 5px; 
  }
  input:focus + span, input:not(:placeholder-shown) + span {
    opacity:1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }

  .passwordInput{
    position:relative;
  }
  .showHideText{
    position: absolute;
    right: 10px;
    top: 1;
    top: 6px;
    cursor: pointer;
  }
  .showHideText i.fa{
   font-size:18px;
  }