<div class="alert alert-success" id="propertyDestination" *ngIf="registrationsuccess!=''" style="width: 80%;text-align: center;margin-left: 118px;margin-top: 18px;">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <h4>Congratulations!.. You Have successfully Registered</h4>

</div>
<div class="row justify-content-md-center row no-gutters" style="padding-top:100px;padding:30px;">


  <div class="col col-md-4 userloginForm">
    <h4>Login</h4>
    <p>Please enter registered email and password with Us!</p>
    <form [formGroup]="userloginForm" (ngSubmit)="saveUser(userloginForm)">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input [attr.disabled]="disabledField ? true : null" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter registered email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Email is required</div>
          <div *ngIf="f.username.errors.pattern">Please enter valid email</div>
        </div>

      </div>


      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <div class="passwordInput">
          <input [attr.disabled]="disabledField ? true : null" [type]="showText ? 'text' : 'password' " class="form-control" id="exampleInputPassword1"
            placeholder="Enter Password" formControlName="userpwd" [ngClass]="{ 'is-invalid': submitted && f.userpwd.errors }">
          <div class="showHideText" (click)="showTextPwd(userloginForm)">
            <i class="fa fa-eye-slash" *ngIf="hideIconEye"></i>
            <i class="fa fa-eye" *ngIf="showIconEye"></i>
          </div>

          <div *ngIf="submitted && f.userpwd.errors" class="invalid-feedback">
            <div *ngIf="f.userpwd.errors.required">Password is required</div>
            <div *ngIf="f.userpwd.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6 align-self-start" style="text-align: left;padding-right:0px;padding-bottom:10px;">
          <a routerLink="/registerform" routerLinkActive="activeClss">New User?</a>
        </div>

        <div class="col-md-6  align-self-end" style="text-align: right;padding-bottom:10px;">
          <a href="javascript:void()" (click)="forgetPWD($event)">Forgot your password?</a>
        </div>
      </div>

      <div class="col" align="center">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="!userloginForm.valid" >Submit</button> -->
        <button type="submit" class="submit-btn">Login</button>
      </div>

    </form>
    <div class="row justify-content-md-center" *ngIf="invalidCredential !='' ">
      <p style="padding:10px;font-size:13px;color:red;">{{invalidCredential}}</p>
    </div>
    <div class="row justify-content-md-center">
      <p style="padding:10px;font-size:13px;color:red;">{{attemptloginMessage}}</p>
    </div>


  </div>
</div>
<app-loading-div *ngIf="isLoading"></app-loading-div>