<!-- row justify-content-md-center no-gutters -->
<div class="row no-gutters">

    <div class="col-md-2" style="background-color:#cce8fc;padding:0px;">
        <!-- <div class="registeruserName">
          <i class="fa fa-user-circle"></i>
          <span>Kiran</span>
      </div> -->
        <div class="leftside-menu">
            <ul>
                <li [ngClass]="{'activeTabdash': propertyTab}" (click)="userdashTabs('Properties')">

                    <i class="fa fa-home"></i> Customer Details
                </li>
                <li [ngClass]="{'activeTabdash': alertsTab}" (click)="userdashTabs('Alerts')">

                    <i class="fa fa-bell"></i> Property Approval
                </li>
                <li [ngClass]="{'activeTabdash': transactionsTab}" (click)="userdashTabs('Transactions')">

                    <i class="fa fa-credit-card"></i> Agent Approval
                </li>
                <li [ngClass]="{'activeTabdash': profileTab}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Payment Approval
                </li>

                <li [ngClass]="{'activeTabdash': profileTab1}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Custom packages
                </li>
                <li [ngClass]="{'activeTabdash': profileTab2}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Property comments

                </li>
                <li [ngClass]="{'activeTabdash': profileTab3}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Portal feedback


                </li>

            </ul>
        </div>

    </div>

    <div class="col-md-10 right-content-bg" style="padding:15px;">

        <div class="col" style="padding-bottom:7px;">
            <!--Property Tab start here -->

            <div *ngIf="propertyTab && !alertsTab && !transactionsTab && !profileTab">

                <modal id="custom-modal-1">
                    <div class="modal">
                        <div class="modal-body">
                            <h6>Customer Details</h6>
                            <div style='position:absolute;right:20px;top:10px;'><i class="fa fa-times" aria-hidden="true" style='font-size:22px;color:#ffb384;cursor: pointer;' (click)="closeModal('custom-modal-1');"></i></div>
                            <table *ngIf="customer!=''" class="table">
                                <tr>
                                    <td>Name:</td>
                                    <td>{{customer.firstName}} {{customer.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{customer.email}} </td>
                                </tr>
                                <tr>
                                    <td>Mobile Number:</td>
                                    <td>{{customer.mobileNo}}</td>
                                </tr>
                                <tr>
                                    <td>Address Line1:</td>
                                    <td>{{customer.address1}}</td>
                                </tr>
                                <tr>
                                    <td>Address Line2:</td>
                                    <td>{{customer.address2}}</td>
                                </tr>
                                <tr>
                                    <td>Address Line3:</td>
                                    <td>{{customer.address3}}</td>
                                </tr>
                                <tr>
                                    <td>City:</td>
                                    <td>{{customer.city}}</td>
                                </tr>
                                <tr>
                                    <td>State:</td>
                                    <td>{{customer.state}}</td>
                                </tr>
                                <tr>
                                    <td>Country:</td>
                                    <td>{{customer.country}}</td>
                                </tr>
                                <tr>
                                    <td>Zip:</td>
                                    <td>{{customer.zip}}</td>
                                </tr>
                            </table>
                            <div class='col' align='center'>
                                <button class="submit-btn" (click)="closeModal('custom-modal-1');">Close</button>

                            </div>

                        </div>
                    </div>
                    <div class="modal-background"></div>
                </modal>




                <div class="table-container-style table-th-styles">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile Number</th>
                                    <!-- <th scope="col">Status</th> -->
                                    <th scope="col">View</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers;let IndexId = index">
                                    <td>{{IndexId+1}}</td>
                                    <td>{{customer.firstName}} {{customer.lastName}}</td>
                                    <td>{{customer.email}}</td>
                                    <td>{{customer.mobileNo}}</td>
                                    <!-- <td>{{customer.status}}</td> -->
                                    <td class="viewbtn">
                                        <!-- <i class="fa fa-eye" (click)="viewPropertyFun()"></i> -->
                                        <i class="fa fa-eye" (click)="openModal('custom-modal-1',customer)"></i>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <div *ngIf="!propertyTab && alertsTab && !transactionsTab && !profileTab" class="table-container-style">
                <app-property-approval></app-property-approval>
            </div>


        </div>
    </div>