<!-- row justify-content-md-center no-gutters -->
<div class="row no-gutters">

    <div class="col-md-2" style="background-color:#cce8fc;padding:0px;">
        <!-- <div class="registeruserName">
          <i class="fa fa-user-circle"></i>
          <span>Kiran</span>
      </div> -->
        <div class="leftside-menu">
            <ul>
                <li [ngClass]="{'activeTabdash': propertyTab}" (click)="userdashTabs('Properties')">

                    <i class="fa fa-home"></i> Customer Details
                </li>
                <li [ngClass]="{'activeTabdash': alertsTab}" (click)="userdashTabs('Alerts')">

                    <i class="fa fa-bell"></i> Property Approval
                </li>
                <li [ngClass]="{'activeTabdash': transactionsTab}" (click)="userdashTabs('Transactions')">

                    <i class="fa fa-credit-card"></i> Agent Approval
                </li>
                <li [ngClass]="{'activeTabdash': profileTab}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Payment Approval
                </li>

                <li [ngClass]="{'activeTabdash': profileTab1}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Custom packages
                </li>
                <li [ngClass]="{'activeTabdash': profileTab2}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Property comments

                </li>
                <li [ngClass]="{'activeTabdash': profileTab3}" (click)="userdashTabs('Profile')">
                    <!-- <li [ngClass]="{'activeTabdash': profileTab}"> -->
                    <i class="fa fa-user"></i> Portal feedback


                </li>

            </ul>
        </div>

    </div>

    <div class="col-md-10 right-content-bg" style="padding:15px;">

        <div class="col" style="padding-bottom:7px;">
            <!--Property Tab start here -->

            <div *ngIf="propertyTab && !alertsTab && !transactionsTab && !profileTab">

                <modal id="custom-modal-1">
                    <div class="modal">
                        <div class="modal-body">
                            <ul>
                                <li *ngFor="let obj of somedata">
                                    {{obj.name}}
                                </li>
                            </ul>
                            <h1>A Custom Modal! ===</h1>
                            <p>
                                Home page text:
                                <input type="text" [(ngModel)]="bodyText" />

                            </p>
                            <button (click)="closeModal('custom-modal-1');">Close</button>
                        </div>
                    </div>
                    <div class="modal-background"></div>
                </modal>




                <div class="table-container-style table-th-styles">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Middle Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile Number</th>
                                    <th scope="col">Address 1</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>laxman</td>
                                    <td>kumar</td>
                                    <td>madasi</td>
                                    <td>laxmancse525@gmail.com</td>
                                    <td>6-3-541/A, Punjagutta Rd, Irram Manzil Colony</td>
                                    <td>Hyderabad</td>
                                    <td>Telangana</td>

                                    <td class="viewbtn">
                                        <!-- <i class="fa fa-eye" (click)="viewPropertyFun()"></i> -->
                                        <i class="fa fa-eye" (click)="openModal('custom-modal-1')"></i>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>

            <div *ngIf="!propertyTab && alertsTab && !transactionsTab && !profileTab" class="table-container-style">
                <app-property-approval></app-property-approval>
            </div>


        </div>
    </div>