.registeruserName{
    padding:5px 10px;
    width:100%;
    background-color:#1275af;
    color:#fff;
    padding:10px 10px;
}
.registeruserName > span{
    font-size:18px;
}
.registeruserName > i.fa{
    font-size:25px;padding-right:5px;
 }
.leftside-menu{
    width:100%;
    padding:0px;
    min-height: 400px;
}
.leftside-menu ul {
    margin:0px;
    padding:0px;
}

.leftside-menu ul li{
  list-style: none;
  padding:10px 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
 font-size:18px;
 color:#1275af;
 font-weight: 400;
 cursor: pointer;
}
.propertyheading{background-color:#fff;text-align:center;padding:5px 15px;color:#1275af;font-size:16px;
border-radius: 3px;display:inline-block;cursor: pointer;
}

.table-container-style{
    padding: 30px;
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 6px; 
    width:100%;
}
.table-container-style thead{
    background-color: #fdf8f5;
}
.table-container-style thead th{
    vertical-align: middle;
    color: #1275af;
    font-size:14px;
}
.table-container-style table td{
    font-size: 13px;
    min-width: 100px;
    vertical-align: middle;
    text-align: left;
}
.table-th-styles th{
    vertical-align: bottom;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.table-th-styles td.viewbtn{
    cursor: pointer;
}

span.mandatory{
    color:red;
}
.activeTabdash{
    background-color:#f1f8fd
}
.tabActions{
    min-height:48px;padding:0px;text-align:center;
    /** background-color:#9ad5ff; **/
    background-color:#cce8fc;
    padding: 7px;
}