<!-- row justify-content-md-center no-gutters -->
<div class="row no-gutters container-top-padding">

  <div class="col-md-2" style="background-color:#cce8fc;padding:0px;">

    <div class="leftside-menu">
      <ul>
        <li title="Add or View Properties" [ngClass]="{'activeTabdash': propertyTab}" (click)="userdashTabs('Properties')">

          <i class="fa fa-home"></i> Properties
        </li>
  

      </ul>
    </div>

  </div>

  <div class="col-md-10 right-content-bg" style="padding:15px;">
<p>No Properties</p>
  </div>
</div>