<div class="row justify-content-md-center row no-gutters">
  <div class="col">

    <div *ngIf="!otphide && !passwordAccess && useridForget">
      <form [formGroup]="userForgtForm" (ngSubmit)="userIdforget(userForgtForm)">

        <div class="form-group">
          <label for="userIdInput">Please enter register email address.</label>
          <input type="text" class="form-control" id="userIdInput" aria-describedby="userIdInput" placeholder="Enter email address."
            formControlName="emailidForget" [ngClass]="{ 'is-invalid': submitted && frgf.emailidForget.errors }">
          <div *ngIf="submitted && frgf.emailidForget.errors" class="invalid-feedback">
            <div *ngIf="frgf.emailidForget.errors.required">Email address is required</div>
          </div>
        </div>
        <div class="col" align="center">
          <button type="submit" class="submit-btn">Submit</button>
        </div>
        <div class="col" align="center" *ngIf="emailnotExists && emailnotExists.length > 0">
          <p style="color:red">{{emailnotExists}}</p>
        </div>
        <div class="col" align="center" *ngIf="serverError && serverError.length > 0">
          <p style="color:red">{{serverError}}</p>
        </div>

      </form>
    </div>

    <div *ngIf="otphide && !passwordAccess">
      <form [formGroup]="otpForm" (ngSubmit)="OTPSave()">

        <div class="form-group">
          <label for="otpInput">Please enter OTP</label>
          <input type="text" class="form-control" id="otpInput" aria-describedby="otpHelp" placeholder="Enter OTP" formControlName="otp"
            [ngClass]="{ 'is-invalid': submitted && f.otp.errors }">
          <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
            <div *ngIf="f.otp.errors.required">OTP is required</div>
          </div>
        </div>
        <div class="col" align="center">
          <button type="submit" class="submit-btn">Validate OTP</button>
        </div>
        <div class="col">
          <p>OTP has been sent to your mobile and Email.</p>
        </div>

      </form>
    </div>


    <div *ngIf="passwordAccess && !otphide && pwschanged == ''">
      <form [formGroup]="newpwdForm" (ngSubmit)="newpwdSave(newpwdForm)">
        <div class="form-group">
          <label for="newpwdInput">New Password</label>
          <input type="password" class="form-control" id="newpwdInput" aria-describedby="newpwdHelp" placeholder="Enter password" formControlName="newpwd"
            [ngClass]="{ 'is-invalid': newpwdSubmitted && pwdf.newpwd.errors }">
          <div *ngIf="newpwdSubmitted && pwdf.newpwd.errors" class="invalid-feedback">
            <div *ngIf="pwdf.newpwd.errors.required">Password is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmnewInput">Confirm Password</label>
          <input type="password" class="form-control" id="otpInput" aria-describedby="confirmnewpwdHelp" placeholder="Enter confirm password"
            formControlName="confirmnewpwd" [ngClass]="{ 'is-invalid': newpwdSubmitted && pwdf.confirmnewpwd.errors }">
          <div *ngIf="newpwdSubmitted && pwdf.confirmnewpwd.errors" class="invalid-feedback">
            <div *ngIf="pwdf.confirmnewpwd.errors.required">Confirm password is required</div>
          </div>
        </div>
        <div class="col" align="center" *ngIf="notmatchpwd && notmatchpwd.length > 0">
          <p style="color:red">{{notmatchpwd}}</p>
        </div>
        <div class="col" align="center">
          <button type="submit" class="submit-btn">Submit</button>
        </div>

      </form>
    </div>

    <div class="col" align="center" *ngIf="errorMessage && errorMessage.length > 0">
      <p style="color:red">{{errorMessage}}</p>
    </div>
    <div class="col" align="center" *ngIf="pwschanged && pwschanged.length > 0">
      <p style="color:red">{{pwschanged}}</p>
    </div>

  </div>
</div>
<app-loading-div *ngIf="isLoaderdiv"></app-loading-div>