<div class='container contact-container-bg container-top-padding'>
  <div class="row">
    <div class="col-md-7 content-container" style="padding:100px 0px;font-size:18px;">

      <h4>eGAZE Property Monitoring</h4>

      <p>
        We'd love to hear about your property and help you get started.
      </p>

      <div class="row">

        <div class="col-md-4">
          <p>Email Us</p>
          <div class='email-style'>egaze72@gmail.com</div>
        </div>
        <div class="col-md-5">
          <p>Call Us</p>
          <div class='callus-style'>
            <a style="color: white" *ngIf="!mobile" href="tel: +917045942225" target="_blank">7045942225</a>
            <a style="color: white" *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-7045942225" target="_blank">7045942225</a>
         /
         <a style="color: white" *ngIf="!mobile" href="tel: +919845733344" target="_blank">9845733344</a>
            <a style="color: white" *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-9845733344" target="_blank">9845733344</a>
 </div>
        </div>
      </div>



    </div>


    <div class="col-md-4">
    
      <div class="alert alert-success" id="destination" *ngIf="status" >
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Successfully sent your request to Admin.</strong>
    </div>
    
    
      <h3>Contact</h3>
      <form [formGroup]="contactusForm" novalidate (ngSubmit)="savedata(contactusForm)">
        <div class="form-group">
          <label>Type
            <span class="mandatory">*</span>
          </label>

          <select class="form-control" formControlName="type" (ngModelChange)="getType($event)" [ngClass]="{ 'is-invalid': submitted && f.type.errors }" class="form-control">
            <option value="Issue" >Issue</option>
            <option value="Feedback">Feedback</option>
            <option value="General enquiry">General enquiry</option>

          </select>



          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Type is required</div>
          </div>
        </div>
        <div class="form-group" style="position: relative">
          <label>Description
            <span class="mandatory">*</span>
          </label>
        
          <textarea class="form-control" placeholder="Please Enter Description" formControlName="description" id="exampleFormControlTextarea1" rows="2" style='resize:none;' [ngClass]="{ 'is-invalid': submitted && f.description.errors }" maxlength="100"></textarea>
    
        
        
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Description is required</div>
            <div *ngIf="f.description.errors.minlength">Please enter Minimum 5 characters and Maximum 100 Characters</div>
            <div  style="position:absolute;right:0px;bottom:-21px;font-size: 14px;color:#ccc">{{f.description.value ? f.description.value.length : 0}}/100</div>

          </div>
          <div *ngIf="f.description.errors===null || !submitted" style="position:absolute;right:0px;bottom:-21px;font-size: 14px;color:#ccc">{{f.description.value ? f.description.value.length:0}}/100</div>

         

        </div>


        <div class="form-group">
          <label>Name
            <span class="mandatory">*</span>
          </label>
          <input type="text" formControlName="name" class="form-control" placeholder="Please Enter Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
          (keypress)="isCharts($event)"/>
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
            <div *ngIf="f.name.errors.minlength">Please enter a valid Name with a minimum of 2 and maximum 50 characters</div>
          </div>
        </div>


        <div class="form-group">
          <label>Email
            <span class="mandatory">*</span>
          </label>
          <input type="text" formControlName="email" class="form-control" placeholder="Please Enter Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">Please enter valid email</div>
          </div>
        </div>
        <div class="form-group">
          <label>Mobile
            <span class="mandatory">*</span>
          </label>
          <input type="text" formControlName="mobile" (keypress)="isNumberKey($event)" class="form-control" placeholder="Please Enter Mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
          maxlength="10"/>
          <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
            <div *ngIf="f.mobile.errors.required">Mobile is required</div>
            <div *ngIf="f.mobile.errors.minlength">Please enter a valid mobile number</div>
            <div *ngIf="f.mobile.errors.maxlength">Max size of Mobile is 10 digits</div>
          </div>
        </div>



        <div class="col" align="center" style="margin-top:20px;">
          <button type="submit" class="submit-btn">Submit</button>
        </div>


      </form>




      <app-loading-div *ngIf="isLoading"></app-loading-div> 




    </div>




  </div>





</div>