/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import 'intl-tel-input/build/css/intlTelInput.css';


.pagination {
  display: inline-flex !important;
  padding-left: 0 !important;
  margin: 20px 0 !important ;
  border-radius: 4px !important;
  list-style: none;
}

.pull-right {
  float: right !important;
}
.pagination > li {
  display: inline !important;
}
.no-paddings{
    padding-left:0px !important;
    padding-right:0px !important;
}
.carousel-indicators li {
background-color:#0069af;
width:10px;
height:10px;
border-radius:50px;
}
.carousel-indicators .active{
    background-color:#ff5f00;
}
.carousel-control-prev, .carousel-control-next{
    display:none;
}
.dropdown-menu{
    margin: 0.99em 0 0;
    border-top:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:0px;
    box-shadow:1px 4px 5px rgba(0,0,0,0.3);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
}

.dropdown-toggle::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0px !important;
    border-top: 0px solid !important;
    border-right: 0px solid transparent !important; 
    border-bottom: 0px !important; 
    border-left: 0px solid transparent !important; 
    content:"\f107";
    font-family: FontAwesome;
}
li.nav-item{
    padding-right:20px;
}
.dropdown-item {
   
    font-weight: 400;
    color: #0063ab;

}
.submit-btn{
    background-color: #fd8236;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border:0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}
.submit-btn:focus{
    outline: 0;
    }
.modal-header{
    padding: 10px 15px !important;
}
.modal-header > .modal-title{
    font-size: 16px !important;
}
.modal-header > .modal-title > button.close{
    padding-top: 0.2em;
}
button.glyphicon-remove::after {
    content: "\f00d";
    font-family: FontAwesome;
    font-size:16px;
    color:#ccc;
}
.modal-header .close {
    padding: 0.8rem !important;
    margin: -1rem -1rem -1rem auto;
    outline: none;
}
/** **/


@media (min-width: 576px)
{
.modal-dialog {
    max-width: 80% !important;
    margin: 1.75rem auto;
}
}

.modal-dialog {
    max-width: 80% !important;
    margin: 1.75rem auto;
}

/*** spinner styles here ****/
.loadingDiv{
    text-align:center;
    display:inline-block;
    margin:0 auto;
    width:150px;
}
.lds-div-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-div-roller div {
    animation: lds-div-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-div-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1275af;
    margin: -3px 0 0 -3px;
  }
  .lds-div-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-div-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-div-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-div-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-div-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-div-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-div-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-div-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-div-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-div-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-div-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-div-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-div-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-div-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-div-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-div-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-div-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  