.container-bg-style{
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}
.no-resize{
    resize: none;
}
.in-months{
    font-size: 11px;
    padding-left: 46px;
    top: 28px;
    position: absolute
}
.label-relative{
    position:relative;
}

.table-container-style{
    padding: 30px;
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 6px; 
    width:100%;
}
.table-container-style thead{
   /** background-color: #fdf8f5; **/
   background-color:#fd9958;
}

.table-container-style thead th{
    vertical-align: middle;
    color: #1275af;
    font-size:15px;
    color:#fff!important;
    font-weight: 500;
}

.table-container-style thead th:first-child{
    width:35px!important;
}

.table-container-style .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.04)!important;
}

.table-container-style .table-striped tbody tr:nth-of-type(even) {
    background-color:#fff!important;
}

.table-container-style .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 3px;
    border-bottom-color: #30a2ec !important;
}



.table-container-style table td{
    font-size: 14px;
    min-width: 100px;
    vertical-align: middle;
    text-align: left;
}
.table-th-styles th{
    vertical-align: bottom;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.table-th-styles td.viewbtn{
    cursor: pointer;
}
